:root {
  --primary-color: #9acbcb;
  --secondary-color: #edecf6;
  --tertiary-color: #35373f;
}

* {
  margin: 0 5px;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  font-family: Arial, Helvetica, sans-serif;
}

/* navigation start */

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--tertiary-color);
  align-items: center;
}

header h1 {
  display: flex;
  justify-content: start;
  font-weight: bold;
  font-size: 42px;
  color: var(--secondary-color);
  background-color: var(--tertiary-color);
  margin: 10px 0;
  padding: 5px 5px 5px 80px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav {
  padding: 0 60px 0 0;
}

header nav ul li {
  margin: 23px 10px;
}

header nav ul li a:hover {
  border-bottom: none;
}

header h1 {
  font-weight: lighter;
  font-size: 36px;
  margin: 0;
  background-color: var(--primary-color);
}

header a {
  text-decoration: none;
  color: var(--tertiary-color);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a :hover {
  margin: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  color: var(--primary-color);
  text-decoration: underline;
  text-decoration-thickness: 20%;
}

/* navigation end */

/* hero start*/
.hero {
  background-image: url(../images/rr-park.jpeg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-position: bottom;
  align-items: center;
}

.hero img {
  width: 15%;
  margin-top: 200px;
  margin-right: 50px;
  margin-bottom: 0;
  margin-left: auto;
}

/* hero end*/

/* about-me start*/


/* about-me end*/

/* work*/

/* work end*/

/* contact-me start*/

/* contact-me end*/

/* footer start*/

/* footer end*/
